.playerOne{
    background-color: #77e6d3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }
  .playerTwo{
    background-color: #f7bed3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }
.tie{
    background-color: lavender;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#one{
    background-color: #77e6d3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;

    margin-right: 5px;
    margin-left: 5px;
  }

#two{
    background-color: #f7bed3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;

    margin-right: 5px;
  }

#turn{
    background-color: lavender;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

  #wrapper{
    width: 450px;
    justify-content: center;
  }
  #scoreboard{
    display: flex;
    height: 90px;
    width: 415px;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 10px;
  }